[Desktop Entry]
Name=Polilinux
Name[pt_BR]=Polilinux-theme
X-KDE-PluginInfo-Name=polilinux
X-KDE-PluginInfo-Author=Oem
X-KDE-PluginInfo-Email=oem_support@polilinux.com.br
X-KDE-PluginInfo-License=GPLv2+
