[Desktop Entry]
Name=Polilinux
Name[pt_BR]=Configuração do bloqueio da área de trabalho
X-KDE-PluginInfo-Name=PolilinuxLockScreen
X-KDE-PluginInfo-Author=Oem
X-KDE-PluginInfo-Email=Oem_support@polilinux.com.br
X-KDE-PluginInfo-License=GPLv2+
